{% extends "main.html" %}

{% block content %}
  <!-- TITLE -->
    <div class="row">
      <h1>Django gallery</h1>
      <p>Description of django gallery</p>
    </div>
  
    <!-- BREADCRUMBS -->  
    <div class="row">
      <nav>
        <div class="col s12">
          <a href="#" class="breadcrumb">Home</a>
        </div>
      </nav>
    </div>
  
    <!-- GALLERIES -->
    <div class="row">
      {% for i in '12345678' %}
      <div class="col s6 m4 l3">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-light">
            <a href="gallery/name">
              <img src="http://lorempixel.com/400/300/nature" alt="">
            <h5 class="card-title">2015-08-07</h5>
            </a>
          </div>
          <div class="card-content">
            <p>Gallery description</p>
          </div>
          <div class="card-action">
            <a href="#">Open Gallery</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- PAGINATION -->
    <div class="row">
      <div class="center-align">
        <ul class="pagination">
          <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
          <li class="active"><a href="#!">1</a></li>
          <li class="waves-effect"><a href="#!">2</a></li>
          <li class="waves-effect"><a href="#!">3</a></li>
          <li class="waves-effect"><a href="#!">4</a></li>
          <li class="waves-effect"><a href="#!">5</a></li>
          <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
      </div>
    </div>
{% endblock content %}