{% extends "main.html" %}
{% load paginator %}

{% block content %}
  <!-- TITLE -->
    <div class="row">
      <h1>Django gallery</h1>
      <p>Description of django gallery</p>
    </div>
  
    <!-- BREADCRUMBS -->  
    <div class="row">
      <nav>
        <div class="col s12">
          <!-- TODO: back to page with this gallery -->
          <a href="{% url 'galleries' %}" class="breadcrumb">Home</a>
          <!-- TODO: get actual page to breadcrumbs -->
          <a href="{% url 'gallery' gallery.slug %}" class="breadcrumb">{{ gallery }}</a>
        </div>
      </nav>
    </div>
  
    <!-- GALLERIES -->
    <div class="row">
      {% for image in images %}
      <div class="col s6 m4 l3">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-light">
            <a href="{{ image.large_thumbnail.url }}">
              <img src="{{ image.thumbnail.url }}" alt="">
            </a>
          </div>
          <div class="card-content">
            <p>{{ image.filename }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- PAGINATION -->
    {% if images.paginator.num_pages > 1 %}
    <div class="row">
      <div class="center-align">
        <ul class="pagination">
          {% if images.has_previous %}
            <li class="waves-effect"><a href="{% url 'gallery' gallery.slug images.previous_page_number %}"><i class="material-icons">chevron_left</i></a></li>
          {% else %}
            <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
          {% endif %}
          {% for page in images.paginator.page_range|page_filter:images.number %}
            {% if not page %}
              <li class="disabled"><a href="#">...</a></li>
            {% elif page == images.number %}
              <li class="active waves-effect waves-light"><a href="{% url 'gallery' gallery.slug page %}">{{ page }}</a></li>
            {% else %}
              <li class="waves-effect"><a href="{% url 'gallery' gallery.slug page %}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}
          {% if gallery.has_next %}
            <li class="waves-effect"><a href="{% url 'gallery' gallery.slug images.next_page_number %}"><i class="material-icons">chevron_right</i></a></li>
          {% else %}
            <li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% endif %}

    {{ tmp }}

{% endblock content %}

{% block modals %}

<!-- TODO: check permissions to upload to gallery -->
{% if user.is_authenticated %}
  
  <div class="fab">
    <a href="#modal-upload" class="btn-floating btn-large waves-effect waves-light red modal-trigger"><i class="material-icons">add</i></a>
  </div>

  <div id="modal-upload" class="modal">
    <div class="modal-content">
      <div class="row">
        <h5>UPLOAD IMAGES</h5>
      </div>
      <form action="{% url 'gallery' gallery.slug %}" method="POST" enctype="multipart/form-data" class="section">
        {% csrf_token %}
        <div class="row">
          <div class="file-field input-field col s12">
            <div class="btn">
              <span>File</span>
              <input type="file" name="images" accept=".jpg,.jpeg,.png" multiple>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload one or more files">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="center-align">
            <button type="submit" class="btn waves-effect waves-light">Upload</button>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endif %}

{% endblock modals %}
