{% extends "main.html" %}
{% load paginator %}

{% block content %}
  <!-- TITLE -->
    <div class="row">
      <h1>Django gallery</h1>
      <p>Description of django gallery</p>
    </div>
  
    <!-- BREADCRUMBS -->  
    <div class="row">
      <nav>
        <div class="col s12">
          <a href="#" class="breadcrumb">Home</a>
        </div>
      </nav>
    </div>
  
    <!-- GALLERIES -->
    <div class="row">
      {% for gallery in galleries %}
      <div class="col s6 m4 l3">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-light">
            <a href="{% url 'gallery' gallery.slug %}">
              <!-- TODO: add gallery image -->
              <img src="http://lorempixel.com/400/300/nature" alt="">
            <h5 class="card-title">{{ gallery.title }}</h5>
            </a>
          </div>
          <div class="card-content">
            <p>{{ gallery.description }}</p>
          </div>
          <div class="card-action">
            <a href="#">Open Gallery</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- PAGINATION -->
    {% if galleries.paginator.num_pages > 1 %}
    <div class="row">
      <div class="center-align">
        <ul class="pagination">
          {% if galleries.has_previous %}
            <li class="waves-effect"><a href="{% url 'galleries' galleries.previous_page_number %}"><i class="material-icons">chevron_left</i></a></li>
          {% else %}
            <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
          {% endif %}
          {% for page in galleries.paginator.page_range|page_filter:galleries.number %}
            {% if not page %}
              <li class="disabled"><a href="#">...</a></li>
            {% elif page == galleries.number %}
              <li class="active waves-effect waves-light"><a href="{% url 'galleries' page %}">{{ page }}</a></li>
            {% else %}
              <li class="waves-effect"><a href="{% url 'galleries' page %}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}
          {% if galleries.has_next %}
            <li class="waves-effect"><a href="{% url 'galleries' galleries.next_page_number %}"><i class="material-icons">chevron_right</i></a></li>
          {% else %}
            <li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% endif %}
{% endblock content %}